.Documents {
    text-align: center;
}

.pdf-viewer {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.pdf-viewer canvas {
    width: 100% !important;
    height: auto !important;
}

.pdf-controls {
    margin-bottom: 10px;
}

.pdf-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.pdf-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

